/node_modules
/public/storage

!storage/
storage/*
!storage/fonts/
storage/fonts/*
!storage/fonts/Lato
!storage/fonts/Roboto_Slab
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
package-lock.json