html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}

h1 {
	flex-grow: 1;
	font-weight: 200;
	font-size: 2.5rem;
}

h2 {
	font-weight: 200;
	font-size: 1.8rem;
	margin: 0.5rem;
}

h3 {
	font-weight: 400;
}

p {
	margin: 10px;
	font-weight: 200;
}

ul {
	margin: 0;
	text-align: left;
	font-weight: 200;
	font-size: 1.5rem;
	list-style-type: circle;
}

i {
	padding: 0.2rem 1.5rem;
}

form {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
}

input[type="text"],
input[type="month"],
input[type="search"] {
	min-height: 48px;
	font-size: 1.5em;
	line-height: 20px;
	padding: 0 10px;
	width: 100%;
	border: 2px solid #ededed;
}

input[type="text"]:disabled {
	background: #ECECEC;
	border: 1px solid #ECECEC;
	font-weight: 200;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
}

input[type=radio]+label,
input[type=checkbox]+label {
	cursor: pointer;
	margin-left: -20px;
}

input[type="radio"]+label:before,
input[type="checkbox"]+label:before {
	content: "";
	border: 2px solid;
	background: #fff;
	width: 34px;
	height: 34px;
	position: absolute;
	left: 0;
	cursor: pointer;
}

input[type="radio"]:checked+label:after,
input[type="checkbox"]:checked+label:after {
	content: "";
	border: 10px solid;
	position: absolute;
	width: 0;
	height: 0;
	left: 9px;
	top: 9px;
	cursor: pointer;
}

input[type="radio"]+label:before,
input[type="radio"]:checked+label:after {
	border-radius: 50%;
}

input[type="checkbox"]+label:before {
	top: 10px;
}

input[type="checkbox"]:checked+label:after {
	content: "✔";
	top: 15px;
	border: 0;
}

input:focus,
button:focus,
select:focus {
	border: 2px solid #dcb9d2;
	outline: none;
}

select {
	border: 1px solid black;
	height: 48px;
	font-size: 1.1rem;
	background-color: white;
}

button {
	background-color: #a74e94;
	color: white;
	min-height: 48px;
	min-width: 48px;
	font-size: 1rem;
	border-radius: 3px;
	box-shadow:0 3px 12px -1px rgba(0,0,0,.2);
}

table {
	border-collapse: collapse;
	background-color: white;
	margin: 1rem 0;
}

table,
label {
	width: 100%;
	font-weight: 200;
	font-size: 1.5rem;
}

thead {
	border: solid 2px transparent;
	border-bottom-color: #BEBEBE;
	font-weight: 400;
	padding: 5px;
	margin: 5px;
}

td {
	border-top: 1px solid #ddd;
	padding: 0.5rem;
	text-align: center;
}

strong {
	font-weight: 400;
}

.reminder {
	font-weight: 200;
	background: #ECECEC;
	font-size: 1.5rem;
	min-height: 8rem;
	overflow: auto;

}

.warning p,
.error li {
	color: #d2232a;
}

.attention p {
	color: #e5710b;
}

.error li {
	list-style-type: none;
	margin: 5px;
	text-align: center;
}

.message {
	font-weight: 200;
	font-size: 1.5rem;
	text-align: center;
	margin: 5px;
}

.header {
	height: 15%;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.15);
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
}

.header img {
	height: 50px;
	margin: 0 3rem;
}

.header ul {
	padding: 0;
	margin: 2rem;
}

.header li {
	line-height: 1.5rem;
	list-style-type: none;
}

.content {
	height: 85%;
	background-color: #f9f9f9;
	overflow: auto;
}

.navigation {
	margin: 4rem;
	padding: 0;
	font-size: 2rem;
	font-weight: 200;
}

.navigation li {
	padding: 2rem;
	margin: 1.5rem;
	border-radius: 0.5rem;
	background-color: #a74e94;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.2);
	cursor: pointer;
	list-style-type: none;
}

.navigation a {
	color: white;
	text-decoration: none;
}

.subnav {
	width: 100%;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.15);
	position: relative;
	height: 8%;
	display: flex;
}

.subnav ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	width: 100%;
}

.subnav li {
	min-height: 48px;
	font-size: 1.5rem;
	padding: 0.5rem;
	text-align: center;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 2rem 1rem;
}

.col div {
	margin: 1rem 0;
}

.col i {
	padding: 0.2rem;
}

.col .collectors {
	background: white;
	min-height: 10rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: 200;
	overflow: auto;
}

.small-button-container {
	display: flex;
    justify-content: center;
}

.small-button-container button {
	min-width: 48px;
}

.small-button-container input {
	width: calc(100% - 53px);
}

.user-control {
	position: relative;
	padding-left: 55px;
	margin-bottom: 1rem;
}

.edit {
	position: relative;
}

.edit-button {
	position: absolute;
	right: 0;
	top: 0;
}

.other-carers-update ul {
	list-style-type: circle;
}

.collect {
	background-color: #ECECEC;
	padding: 0.5rem 1rem;
	flex-shrink: 2;
}

.collect p {
	margin: 0 0.5rem;
	font-weight: 400;

}

.print-button button {
	min-height: 6rem;
	font-size: 1.5rem;
	padding: 1rem;
	font-weight: 200;
	width: 90%;
	margin-left: 5%;
}

.check,
.search {
	height: 77%;
}

.search {
	padding-top: 2rem;
}

.search .input,
.search .col {
	width: 80%;
	margin: 0 0 0 10%;
}


.pagination {
	list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.pagination a {
	color: black;
}
