body {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	font-family: 'Roboto Slab', serif;
}

h1 {
	width: 100%;
	text-align: center;
}

ul {
	list-style-type: circle;
	font-size: 1.2rem;
}

th {
	font-weight: 300;
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid black;
}

td {
	text-align: center;
	border: 1px solid black;
	font-weight: 300;
	padding: 1.5rem;
	font-size: 1.2rem;
}

.header {
	display: flex;
	align-items: center;
}

.header > img {
	height: 70px;
	margin: 2rem 3rem;
}

.content {
	width: 80%;
	margin-left: 10%;
}

.content > table {
	width: 100%;
	margin-bottom: 4%;
	border-collapse: collapse;
	empty-cells: show;
	border: 1px solid black;

}

.print-notes {
	text-align: right;
	font-size: 0.7rem;
	position: fixed;
	right: 1rem
}

/* Removes printout of automatic header and footer & prints in landscape */
@media print {
	@page { 
		margin: 0; 
		size: landscape;
	}
}