body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-size: 3rem;
	width: 100%
}

th {
	font-weight: 300;
	font-size: 1.5rem;
	padding: 1rem;
}

td {
	text-align: center;
	border: 1px solid black;
	font-weight: 300;
	padding: 2rem;
	font-size: 1.2rem;
}

.header {
	display: flex;
	align-items: center;
	text-align: center;
}

.header > img {
	height: 50px;
    margin: 2rem 3rem;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-left: 5%;
}

.content > div {
	width: 40%;
	margin: 1% 5%;
}

.content > table {
	width: 90%;
	margin: 5%;
	border-collapse: collapse;
	empty-cells: show;

}

.boxes {
	border: 1px solid black;
	margin: 1% 4%;
}