body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-size: 3rem;
	width: 100%;
	margin-left: 5rem;
}

p {
	font-size: 1.2rem;
}

ul {
	list-style-type: circle;
	font-size: 1.2rem;
}

th {
	font-weight: 300;
	font-size: 1.5rem;
	padding: 1rem;
}

td {
	text-align: center;
	border: 1px solid black;
	font-weight: 300;
	padding: 2rem;
	font-size: 1.2rem;
}

.header {
	display: flex;
	align-items: center;
}

.header > img {
	height: 65px;
    margin: 2rem 3rem;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: 10%;
}

.content > div:not(.boxes) {
	width: 50%;
	margin: 1% 0;
}

.content > div:nth-child(-n+2) > p {
	font-size: 2rem;
}

.content > table {
	width: 100%;
	margin: 5% 0;
	border-collapse: collapse;
	empty-cells: show;

}

.boxes {
	width: 44%;
	border: 1px solid black;
	margin: 2.4%;
	min-height: 13rem;
	text-align: center;
}

.boxes p {
	color: #d2232a;
}